<footer>
	<div class="company-family">
		<div class="family-images">
			<a class="img-fluid" href="{{post.family_logos_logo_one_link.url}}"><img src="{{Image(post.family_logos_logo_one_image).src}}" alt=""></a>
			<a class="rose img-fluid" href="{{post.family_logos_logo_two_link.url}}"><img src="{{Image(post.family_logos_logo_two_image).src}}" alt="{{post.family_logos_1_logo.value.alt}}"></a>
		</div>
	</div>
	<div class="footer-tag">
		<p>{{ footer_widgets }}</p>
	</div>
</footer>
